#container
{
    background-color: black;
    margin: 1% auto;
    width: 90%;
}

header
{
    background-color: white;
    padding: 1%;
}

aside
{
    background-color: purple;
    width: 50%;
    height: 70%;
    margin: 0 2%, 2% 0;
    float: left;
}

section
{
    background-color: darkgray;
     width: 30%;
    height: 70%;
    margin: 0 2%, 2% 0;
    float: right; 
}

footer
{
    background-color: blue;
    clear: both;
}





h1
{
    border-style: none;
    border-color: black;
    border-width: thick;
    padding: 8%;
    margin: 4%;
    color: rgb(253, 0, 0);
    
}
h2
{
    border-style: none;
    border-color: black;
    border-width: thick;
    padding: 8%;
    margin: 4%;
    color: rgb(255, 225, 0);
    
}



span{
    font-weight: bold;
    color: red;
    background-color: rgb(255, 255, 255);
}
p
{
    color: rgba(0, 247, 255);
    
}
    

body
{
    background-image: url(images/iron.jpg);
    font-size: x-large;
    
    
}

img
{
    float: right;
    padding: 8%;
    width: 50%;
    max-width: 500px;
}

nav
{
        background-color: rgb(253, 0, 0);
        line-height: 200%;
        display: block;

}

nav li
{
    display: inline;
    padding-right: 7%;
    list-style-type: none;
}

nav a:link
{
    color: rgb(0, 247, 255);
   
    text-decoration: dashed;
}

nav a:visited
{
    color:rgb(255, 225, 0)
}

nav a:hover
{
    text-decoration: underline;
}

nav a:active{
    text-decoration: underline;

}
div{
    font-weight: bold;
}